/* Default */
body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

.container {
  margin: auto;
  display: flex;
}

.logo-text h1 {
  margin: 50px 0px 0px 0px;
}

.logo-text h2 {
  margin-top: 0px;
  color: #818181;
}

.logo-text a {
  text-decoration: none;
  color: #790088;
  font-weight: bold;
}

.logo-text a:hover {
  color: #5c0068;
}

.form-div form input {
  margin: 5px 0px 25px 0px;
  padding: 0px 15px;
  width: 100%;
  height: max(40px, 5vh);
  background: #efefef;
  border-width: 0px;
  border-radius: 10px;
}
/* Mobile */
@media (max-width: 480px) {
  /* Right Div */
  .right-div {
    width: 100%;
    height: 100%;
  }

  .right-div img {
    position: fixed;
    bottom: 0px;
    right: -80px;
    width: 80vw;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
}

.form-div {
  margin-top: 30px;
  width: 100%;
}

.form-submit {
  width: 8rem;
  height: 3.5rem;
  background: #790088;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border-width: 0px;
  border-radius: 10px;
}

.form-submit:hover {
  cursor: pointer;
  background: #5c0068;
}

/* Desktop */
@media (min-width: 481px) {
  /* Left Div */
  .left-div {
    width: 43%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-div-container {
    width: 25vw;
    height: 98vh;
    margin: 5% 0;
  }
  /* Logo and Sign Up text */
  .logo-text {
    font-style: normal;
    color: #000000;
  }

  .image {
    text-align: center;
  }

  .image img {
    width: 75%;
  }

  .text h1 {
    font-size: max(20px, 1.5vw);
  }

  .text h2 {
    font-size: max(15px, 0.9vw);
  }

  /* Form */
  .form-div {
    margin-top: 30%;
    width: 100%;
    align-items: center;
  }

  .form-div label {
    font-size: max(15px, 0.9vw);
  }

  #form-submit {
    width: max(80px, 6vw);
    height: max(40px, 4.5vh);
    background: #790088;
    color: #ffffff;
    font-weight: bold;
    font-size: max(15px, 0.9vw);
    border-width: 0px;
    border-radius: 10px;
  }

  #form-submit:hover {
    background: #5c0068;
    cursor: pointer;
  }
  /* Right Div */
  .right-div {
    width: 57%;
    height: 100vh;
  }

  .shape {
    position: fixed;
    width: 70%;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    background: #790088;
    clip-path: polygon(57% 0, 100% 0, 100% 100%, 16% 100%);
  }

  .right-div img {
    position: fixed;
    bottom: 0px;
    height: 95%;
  }
}

footer {
  display: flex;
  height: 1rem;
  padding: 2% 6%;
  margin: 0;
  background-color: #790088;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: -10;
}