body {
  font-family: SF Pro Display, Arial, Helvetica, sans-serif; /* Tipos de fontes*/
  padding: 0px; /* Usamos para criar espaços ao redor do conteudo do elemento dentro de qualquer tipo de borda definida */
  margin: 0px; /* Usamos para criar espaços ao redor de alementos fora de qualquer tipo de borda definida */
}

.container {
  margin: auto;
  display: flex; /* Utilizaremos uma flexbox para esse container */
}

.left-div {
  width: 43%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-div-container {
  width: 25vw;
  height: 98vh;
  margin: 5% 0
}

.logo-text {
  margin-top: 50px;
  grid-area: logo-text;
  font-style: normal;
  color: #000000;
}

.logo-text a {
  text-decoration: none;
  color: #790088;
  font-weight: bold;
}

.fortnite-logo {
  margin: auto;
}

.logo-text h1 {
  margin: 50px 0px 0px 0px;
  font-size: 01.25vw;
}

.logo-text h2 {
  margin-top: 0px;
  color: #818181;
  font-size: 00.9vw;
}

.image {
  text-align: center;
}

.image img {
  width: 75%;
}

.div-form {
  margin-top: 30px;
  align-items: center;
  width: 100%;
}

.form-div form input {
  margin: 5px 0px 25px 0px;
  padding: 0px 15px;

  width: 100%;
  height: 5vh;
  border-radius: 10px;
  background-color: #efefef;
  border-width: 0;
}

.form-div a {
  text-decoration: none;
  color: #790088;
  font-weight: bold;
}

.form-div form label {
  height: 00.9vw;
}

.form-submit {
  width: 8rem;
  height: 3.5rem;
  background: #790088;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border-width: 0px;
  border-radius: 10px;
}

/* RIGHT DIV FORMAT */

.right-div {
  width: 57%;
  height: 100vh;
}

.shape {
  position: fixed;
  top: 0;
  height: 100%;
  width: 70%;
  bottom: 0;
  right: 0%;
  clip-path: circle(58.5% at 84% 53%);
  background-color:#790088 ;
}

.right-div img {
  position: fixed;
  bottom: 0px;
  height: 95%;
}

footer {
  display: flex;
  height: 1rem;
  padding: 2% 6%;
  margin: 0;
  background-color: #790088;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: -10;
}