body {
  font-family: SF Pro Display, Arial, Helvetica, sans-serif; /* Tipos de fontes*/
  padding: 0px; /* Usamos para criar espaços ao redor do conteudo do elemento dentro de qualquer tipo de borda definida */
  margin: 0px; /* Usamos para criar espaços ao redor de alementos fora de qualquer tipo de borda definida */
}

.container {
  margin: auto;
  display: flex; /* Utilizaremos uma flexbox para esse container */
}

.left-div {

  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". logo-text ."
    ". form-div ."
    ". . ."; 
}

.logo-text {
  margin-top: 50px;
  grid-area: logo-text;
  font-style: normal;
  color: #000000;
}

.fortnite-logo {
  margin: auto;
}

.logo-text h1 {
  margin: 50px, 0px, 0px, 0px;
}

.logo-text h2 {
  margin-top: 0px;
  color: #818181;
}

.div-form {
  
}