body {
  font-family: SF Pro Display, Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

.container {
  margin: auto;
  display: flex;
}

/* Left Div */
.left-div {
  width: 43vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". logo-text ."
    ". form-div ."
    ". . .";
}

.logo-text {
  margin-top: 50px;
  grid-area: logo-text;
  font-style: normal;
  color: #000000;
}

.fortnite-logo {
    margin: auto;
  }

.logo-text h1 {
  margin: 50px 0px 0px 0px;
}

.logo-text h2 {
  margin-top: 0px;
  color: #818181;
}

.logo-text a {
  text-decoration: none;
  color: #790088;
  font-weight: bold;
}

.logo-text a:hover {
  color: #5c0068;
}

.form-div {
  margin-top: 30px;
  grid-area: form-div;
}

.form-div form input {
  margin: 5px 0px 25px 0px;
  padding: 0px 15px;
  width: 400px;
  height: 55px;
  background: #efefef;
  border-width: 0px;
  border-radius: 10px;
}

.form-submit {
  width: 122px;
  height: 53px;
  background: #790088;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border-width: 0px;
  border-radius: 10px;
}

.form-submit:hover {
  cursor: pointer;
  background: #5c0068;
}

/* Right Div */
.right-div {
  width: 57vw;
  height: 100vh;
  background-image: url("../images/register-right-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.right-div img {
  position: fixed;
  bottom: 0px;
}
